<!DOCTYPE html>
<html>
<head>
	<title>Rock or Not</title>
	<% include head %>
</head>
<body>
	<% var loggedIn = true%>
	<% include navbar %>
	<!-- <script type="text/javascript">
		$(document).ready(()=>{
			$('.reg-link, .login-link').hide();
		});
	</script> -->
	<% if(name != undefined){ %>
		<h1>Welcome, <%=name %></h1>
	<% } %>
	<% if(message == "alreadyLoggedIn"){ %>
		<h1>You are already logged in, <%=name%>!</h1>
	<% } %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="col-sm-6 col-sm-offset-3 band-image">
					<h1><%=band.title %></h1>
					<img class="band-img" src="/images/<%=band.imageUrl %>" />
					<a class="vote-thumb" href="/vote/up/<%=band.id%>"><img src="/images/thumbsUp.png"></a>
					<a class="vote-thumb" href="/vote/down/<%=band.id%>"><img src="/images/thumbsDown.png"></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
